[submodule "parent"]
  path = parent
  url = git@github.com:ao-apps/aorepo-parent.git
  branch = master
[submodule "website"]
  path = website
  url = git@github.com:ao-apps/aorepo-website.git
  branch = master
